{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bosstrap 4 -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{ static 'css/welcome.css'}">

    <title>
      Django Apps
    </title>
  </head>
  <body>
  	<div class="container mt-5">
  		
  		<div class="card" style="height: 50rem">
  			<div class="card-body">
  				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-light bg-light ">

						<a class="navbar-brand" href="#">
    						<img src="{% static 'python-logo3.png'%}" alt="" width="70px">	
  						</a>
  						<a class="navbar-brand" href="#">
    						<img src="{% static 'django-logo2.svg'%}" alt="" width="70px">
  						</a>
  						<a class="navbar-brand" href="#">
    						<img src="{% static 'bootstrap-logo.png'%}" alt="" width="70px">
  						</a>

				      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				        <span class="navbar-toggler-icon"></span>
				      </button>
				      <div class="collapse navbar-collapse" id="navbarSupportedContent">
				        <ul class="navbar-nav mr-auto"></ul>

				        <ul class="navbar-nav">
				          <li class="nav-item active m-2">
				            <a class="nav-link text-white" href="#"> <strong>Home</strong><span class="sr-only">(current)</span></a>
				          </li>
				          <li class="nav-item m-2">
				            <a class="nav-link text-white" href="#"><strong>Contact Us</strong></a>
				          </li> 
				        </ul>

				      </div>
				    </nav>
  				</div>

				<div class="container text-white mt-5 mb-5">
					<p class="text-center h3">Django Apps</p>
					<h2 class="display-4 text-center"> Welcome </h2>
					<p class="text-justify text-center container"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit est, nemo eum illo obcaecati facere odit ea eaque omnis, molestiae facilis ratione magni tenetur iste. Rem quasi incidunt natus numquam!</em></p>
				</div>

				<div id="apps" class="text-center">
					<a href="/admin" class="btn btn-primary m-2"   id="btn1">Admin</a>
					<a href="/confma" class="btn btn-success m-2"   id="btn2">Confma</a>
					<a href="#" class="btn btn-secondary m-2" id="btn3">Other App</a>
					<a href="https://github.com/wdavid73" class="btn btn-info m-2" id="btn4">Developer</a>
				</div>

  			</div>
  		</div>
  	</div>
  </body>
</html>

<style>
	body {
		background-image: url('static/Meteor.jpg');
	    background-repeat: no-repeat;
	    background-position: top center;
	    background-attachment: fixed;*/
	}

	.card{
		
		background-image: url('static/Color-Space.png');
		background-repeat: no-repeat;
	    background-position: top center;
	    background-attachment: fixed;
	    border-radius: 20px;

	}

	.card-body .navbar{
	  background-color: transparent !important;
	}

	#btn1,#btn2, #btn3,#btn4{
		width: 121px;
		border-radius: 20px;
	}

</style>
