{% extends 'layouts/base.html' %} 

{% block title%} Home Confma App {% endblock%} 

{% block name%}
    <h2 class="text-center mt-2 mb-4"> <i class="material-icons">account_circle</i> Users</h2>
{% endblock %}

{% block content %}    

<div class="row">
    <div class="container">
        <div class="col-md col-lg">
                        <div class=" table-responsive table-bordered">
                            <table class="table table-dark">
                                <thead>
                                     <tr>
                                        <th scope="col">#</th>
                                        <!-- <th scope="col">id</th> -->
                                        <th scope="col">Name</th>
                                        <th scope="col">LastName</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Cellphone</th>
                                        <th scope="col">Methods</th>
                                    </tr>
                                </thead>
                            <tbody>
                                {% for u in user %}
                                        <tr>
                                            <td class="p-3"> {{forloop.counter}}</td>
                                            <!-- <td> {{u.id}}</td> -->
                                            <td class="align-middle text-center"> {{u.name}}</td>
                                            <td class="align-middle text-center"> {{u.lastname}}</td>
                                            <td class="align-middle text-center"> {{u.address}}</td>
                                            <td class="align-middle text-center"> {{u.phone}}</td>
                                            <td class="align-middle text-center"> {{u.cellphone}}</td>
                                            <td class="align-middle text-center">
                                            {% include '../layouts/methods.html'%}
                                        </td>
                                        </tr>
                                {% empty %}
                                        <div class="container"  style="height: 650px">
                                            <div class="alert alert-info mt-3" role="alert">
                                                No hay Clientes Registrados 
                                                <a href="create/" class="btn btn-info badge badge-primary badge-pill float-right">Registrar Cliente</a> 
                                            </div>
                                        </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>
</div>

{% endblock %}
