{% extends 'layouts/base.html' %}

{% block title%} Home Confma App {% endblock%} 

{% block name%}
    <h2 class="text-center mt-2 mb-4"> <i class="material-icons"> update </i> Update User <span class="badge badge-primary badge-pill">#{{user.id}}</span>  </h2>
{% endblock %}

{% block principal_options%}
{% endblock%}

{% block content %}

{{user}}
	<div class="form-group">
		<form action="" method="POST">
			<input type="text" name="name" id="name" value="{{user.name}}" class="form-control">
			<input type="text" name="lastname" id="lastname" value="{{user.lastname}}" class="form-control">
			<input type="text" name="address" id="address" value="{{user.address}}" class="form-control">
			<input type="number" name="phone" id="phone" value="{{user.phone}}" class="form-control">
			<input type="number" name="cellpone" id="cellphone" value="{{user.cellphone}}" class="form-control">
			<input type="submit" value="Update" class="btn btn-primary">
			<a href="../../" class="btn btn-info"> Back </a>
		</form>
	</div>


{% endblock %}
