{% extends 'layouts/base_loggin.html' %}

{% block title%} Home Confma App {% endblock%} 

{% block name%}
    <h2 class="text-center mt-2 mb-4"> <i class="material-icons"> update </i> Update User <span class="badge badge-primary badge-pill">#{{user.id}}</span>  </h2>
{% endblock %}


{% block content %}

	<div class="container w-60">
		<form action="" method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<div class="row">
				<input type="submit" value="Update" class="btn btn-info col-6 p-2">
				<a href="../../" class="btn btn-success col-6 p-2">Back</a>
			</div>
		</form>
	</div>

{% endblock %}
