{% extends 'layouts/base.html' %}

{% block title%}
    Home Confma App
{% endblock %}

{% block principal_options%}
{% endblock%}

{% block content %}

<div id="main" class="container-fluid">
    <div id="text"  class="align-middle">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>(~_~メ)</h2>
        <h2 style="display: inline-block;">PAGE NOT FOUND</h2>
    </div>
</div>

<style>

    html,body{
        color:white;
        height:100%;
        width:100%;
        margin: 0px;
    }

    #main{
        background: url(https://images.wallpapersden.com/image/download/small-memory_58461_3840x2160.jpg) no-repeat fixed center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100% ;
        text-align: center;
    }


</style>
{% endblock %}
