{% extends 'layouts/base.html' %}

{% block title%}
    Home Confma App
{% endblock %}

{% block principal_options%}
{% endblock%}

{% block content %}

    <div class="container" id="main">
        <h1 class="text-center">Home</h1>
        <h2>Quienes Somos?</h2>
        <p class="text-justify">
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Quis illum tempore esse ratione 
            repudiandae quidem ducimus quibusdam 
            repellendus blanditiis cum fugit ea vitae 
            atque repellat, saepe laudantium excepturi 
            odio asperiores.
        </p>
    
        <h2>Que hacemos</h2>
        <p>
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Quis illum tempore esse ratione 
            repudiandae quidem ducimus quibusdam 
            repellendus blanditiis cum fugit ea vitae 
            atque repellat, saepe laudantium excepturi 
            odio asperiores.
        </p>
        
        <h2>Donde Estamos</h2>
        <p>
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Quis illum tempore esse ratione 
            repudiandae quidem ducimus quibusdam 
            repellendus blanditiis cum fugit ea vitae 
            atque repellat, saepe laudantium excepturi 
            odio asperiores.
        </p>
    </div>
        
    <footer>
        <div>
            <h4>Redes Sociales</h4>
        </div>
    </footer>

{% endblock %}
