{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block title%}
Inicio
{% endblock %}

{% block principal_options%}
{% endblock%}

{% block content %}

<div class="container" id="main">
    <img src="{% static 'logo.png' %}" alt="logo" class="img-fluid container">

    <div class="row mt-4 container">
        <div class="col-lg-6 col-md-7 col-sm-12  align-middle">
            <h2 class="text-center">¿Quienes Somos?</h2>
            <p class="text-justify">
                Confecciones Maribel es una MicroEmpresa de confeccion de prendas
                de vestir para todo tipo de persona , creada y mantenida por personas
                que quieren salir adelante.
            </p>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12">
            <img src="{% static 'confecciones2.jpg' %}" alt="logo" class="img-fluid ">
        </div>
    </div>
    <div class="row mt-2 container">
        <div class="col-lg-6 col-md-7 col-sm-12  align-middle">
            <h2 class="text-center">Que hacemos?</h2>
            <p class="text-justify">
                Confecciones Maribel es una MicroEmpresa de confeccion
                de prendas de vestir para tanto mujeres como hombres
                en la cual tambien se pueden encontrar vestidos de boda,
                de 15 como de primera comunion , estos se pueden confeccionar
                a medida o tambien se puede alquilar uno de los ya hechos que se
                encuentre disponible , esto tambien aplica para los trajes de hombres.
            </p>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12">
            <img src="{% static 'confecciones2.jpg' %}" alt="logo" class="img-fluid ">
        </div>
    </div>
    <div class="row mt-2 ">
        <div class="col-lg-6 col-md-7 col-sm-12 ">
            <h2 class="text-center">Donde Estamos?</h2>
            <p class="text-justify">
                Confecciones Maribel su ubica en un barrio de la
                cuidad de barranquilla en el atlantico
            </p>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12">
            <img src="{% static 'barranquilla.jpg' %}" alt="logo" class="img-fluid ">
        </div>
    </div>
</div>
{% endblock %}
