{% extends 'layouts/base_loggin.html' %}
{% load staticfiles %}
{% block title%}
    Home Confma App
{% endblock %}

{% block principal_options%}
{% endblock%}

{% block content %}
    {% if user.is_authenticated %}
      <div class="container" id="main">
        <img src="{% static 'logo.png' %}" alt="logo" class="img-fluid container">
        <div class="row mt-2 mb-5">
            <div class="col">
                <h2 class="text-center">¿Quienes Somos?</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Quis illum tempore esse ratione 
                    repudiandae quidem ducimus quibusdam 
                    repellendus blanditiis cum fugit ea vitae 
                    atque repellat, saepe laudantium excepturi 
                    odio asperiores.
                </p>
            </div>
            <div class="col">
                <h2 class="text-center">Que hacemos</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Quis illum tempore esse ratione 
                    repudiandae quidem ducimus quibusdam 
                    repellendus blanditiis cum fugit ea vitae 
                    atque repellat, saepe laudantium excepturi 
                    odio asperiores.
                </p>
            </div>
            <div class="col">
                <h2 class="text-center">Donde Estamos</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Quis illum tempore esse ratione 
                    repudiandae quidem ducimus quibusdam 
                    repellendus blanditiis cum fugit ea vitae 
                    atque repellat, saepe laudantium excepturi 
                    odio asperiores.
                </p>
            </div>
        </div>
        
    </div>
    {% else %}
      <p>You are not logged in <a href="{% url 'login' %}" class="btn btn-info">login</a> </p>
    {% endif %}
{% endblock %}

