{% extends 'layouts/base_loggin.html' %}
{% load staticfiles %}
{% block title%}
    Home Confma App
{% endblock %}

{% block principal_options%}
{% endblock%}

{% block content %}
    {% if user.is_authenticated %}
      <div class="container" id="main">

        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
          <strong>Hola {{user.username}}!</strong> Bienvenido.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <img src="{% static 'logo.png' %}" alt="logo" class="img-fluid container">
        <div class="row mt-2 mb-5">
            <div class="col">
                <h2 class="text-center">¿Quienes Somos?</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Quis illum tempore esse ratione 
                    repudiandae quidem ducimus quibusdam 
                    repellendus blanditiis cum fugit ea vitae 
                    atque repellat, saepe laudantium excepturi 
                    odio asperiores.
                </p>
            </div>
            <div class="col">
                <h2 class="text-center">Que hacemos</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Quis illum tempore esse ratione 
                    repudiandae quidem ducimus quibusdam 
                    repellendus blanditiis cum fugit ea vitae 
                    atque repellat, saepe laudantium excepturi 
                    odio asperiores.
                </p>
            </div>
            <div class="col">
                <h2 class="text-center">Donde Estamos</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Quis illum tempore esse ratione 
                    repudiandae quidem ducimus quibusdam 
                    repellendus blanditiis cum fugit ea vitae 
                    atque repellat, saepe laudantium excepturi 
                    odio asperiores.
                </p>
            </div>
        </div>
        
    </div>
    <ul>
        <img src="{% static 'moda1.jpeg'%}" alt="" width="150px">

        {% for clo in cloth %}
            <li>
                {{clo}}
                {{clo.image.url}}
                <img src="{{clo.image.url}}" alt="moda" width="150px">
            </li>

            <!-- <img src="{{clo.image.ulr}}" alt="moda"> -->
        {%endfor%}
    </ul>

    {% else %}

  
        <div class="row">
            <div class="col-md-5  container">
                <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                    <p> 
                        <strong>No as Iniciado Sesion</strong> , Inicia Sesion Porfavor 
                        <a href="{% url 'login' %}" class="btn btn-info btn-sm mr-2 ml-2"> LOGIN </a> 
                    </p>
                </div>  
            </div>
        </div>

    {% endif %}
{% endblock %}

