{% extends 'layouts/base_loggin.html' %}
{% block title%} Detalles de los Alquileres {% endblock %}

{% block content %}
<div class="row">
	{%for alquiler in object_list%}
			<div class="col-md-4 col-lg-2">
				<div class="card bg-dark text-white ml-2 mt-2 mb-2">
					<div class="card-header  text-center bg-info">PRENDA</div>
					<div class="card-body">
						<ul class="list-group">
							<li class="list-group-item bg-dark text-white">
								{{alquiler.cloth}}
							</li>		
						</ul>
					</div>
					<div class="card-header text-center bg-info">CLIENTE</div>
					<div class="card-body">
						<ul class="list-group  ">
							<li class="list-group-item bg-dark text-white text-center">
								Nombre : {{alquiler.client.name}} {{alquiler.client.lastname}} <br>
								Telefono : {{alquiler.client.phone}} <br>
								Celular : {{alquiler.client.cellphone}} <br>
								Direccion : {{alquiler.client.address}}
							</li>
						</ul>
					</div>
				</div>
			</div>
	{%endfor%}
</div>

{% endblock %}