{% extends 'layouts/base_loggin.html' %}
{% block title%} Alquiler Details {% endblock %}

{% block content %}
<div class="row">
	{%for alquiler in object_list%}
			<div class="col-md-4 col-lg-2">
				<div class="card bg-dark text-white ml-2 mt-2 mb-2">
					<div class="card-header  text-center bg-info">PRENDA</div>
					<div class="card-body">
						<ul class="list-group">
							{%for cloth in cloth_list%}
								{%if cloth.id == alquiler.cloth_id%}
									<li class="list-group-item bg-dark text-white">
										Prenda : {{cloth.name}} <br> 
										Color : {{cloth.color}} <br> 
										Talla : {{cloth.size}} <br>
									</li>		
								{%endif%}
							{%endfor%}	
						</ul>
					</div>

					<div class="card-header text-center bg-info">CLIENTE</div>
					<div class="card-body">
						<ul class="list-group  ">
						{%for client in client_list%}
							{% if alquiler.client_id == client.id%}
								<li class="list-group-item bg-dark text-white text-center">
									Nombre : {{client.name}} {{client.lastname}} <br>
									Telefono : {{client.phone}} <br>
									Celular : {{client.cellphone}} <br>
									Direccion : {{client.address}}
								</li>
							{% empty %}
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit eius at enim ullam, magni necessitatibus natus magnam, molestiae perspiciatis reiciendis officiis voluptatem, voluptatum tenetur! Quod ipsum voluptas, doloribus laudantium nam.</p>

							{%endif%}

						{%endfor%}
						</ul>
					</div>
				</div>
			</div>
	{%endfor%}
</div>

{% endblock %}