{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!-- Bosstrap 4 -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />

    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>

{% include './navbar_login.html' %}

{% block name %}{% endblock %}


{% block content %}
{% endblock %}


</body>

<footer class="page-footer font-small stylish-color-dark pt-4 bg-dark text-white mt-3">
    <div class=" text-center text-md-left">
        <div class="row">
            <div class="col-md-6 col-lg-6 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Confecciones Maribel</h5>
                <p> App Web para la administracion y gestion de Confecciones Maribel , Negocio enfocado en la confeccion
                    y alquiler de prendas de vestir tales como , vestidos de coptel , vestidos de novias , vestidos de
                    quiceañeras , trajes enteros para hombre , togas y ropa de todo tipo</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Client</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'confma:restore_clients_view' %}">Restore</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Cotizacion</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'confma:restore_cotizaciones_view' %}">Restore</a>
                    </li>
                    <li>
                        <a href="{% url 'confma:restore_client_cotizacion_view' %}">Restore Cliente - Cotizacion</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


</html>
