<div class="container mb-2 mt-2 " style="width: 75%;">
  <ul class="list-group">
    <li class="list-group-item list-group-item-primary">
      <a href="create/">Registered {{ model }}</a>
    </li>
    <li class="list-group-item list-group-item-primary">
      <a href="details/">Register {{ model }}</a>
    </li>
    <li class="list-group-item list-group-item-success">
      <a href="update/">Update {{ model }}</a>
    </li>
    <li class="list-group-item list-group-item-danger">
      <a href="delete/">Delete {{ model }}</a>
    </li>
    <li class="list-group-item list-group-item-danger">
      <a href="delete_log/">Delete {{ model }} Log</a>
    </li>
  </ul>
</div>
