<div class="container">
  <div class="row">
  	<a href="{{u.id}}/update/" class="btn btn-primary col-5 mb-2 mr-2 ml-2">Update {{ model }}</a>-
    	<!--<a href="update/" class="btn btn-primary col-5 mb-2 mr-2 ml-2">Update {{ model }}</a>-->
    <!-- <button class="btn btn-primary col-4 mb-2 mr-2 ml-2"><a href="details/"></a>Register {{ model }}</button> -->
    <a href="{{u.id}}/delete/" class="btn btn-danger col-5 mb-2 mr-2 ml-2">Delete {{ model }}</a>
    <a href="{{u.id}}/deletelog/" class="btn btn-warning col-5 mb-2 mr-2 ml-2">Delete {{ model }} L</a>-
    <a href="{{u.id}}/cotizacion/create" class="btn btn-info col-5 mb-2 mr-2 ml-2">Hacer Cotizacion</a>
  </div>
</div>