<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/confma/">Confma</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/confma/">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a href="/confma/users/create/" class="dropdown-item bg-dark text-white">Register</a>
          <div class="dropdown-divider bg-dark"></div>
          <a href="/confma/users/details/" class="dropdown-item  bg-dark text-white">Registered</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cotizaciones
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a href="/confma/cotizacion/create/" class="dropdown-item bg-dark text-white">Register</a>
          <div class="dropdown-divider bg-dark"></div>
          <a href="/confma/cotizacion/" class="dropdown-item  bg-dark text-white">Registered</a>
          <div class="dropdown-divider bg-dark"></div>
          <a href="/confma/cotizacion-user/list/" class="dropdown-item  bg-dark text-white">Cliente - Cotizacion Registered</a>
        </div>
      </li>
  
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >

      </li> -->
    </ul>
  </div>
</nav>
