{% with api="confma/api/v1" %}     
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/{{api}}">Confma Api</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a href='/{{api}}/clients/create/'  class="dropdown-item bg-dark text-white">Register</a>
          <div class="dropdown-divider bg-dark"></div>
          <a href="/{{api}}/clients/details/" class="dropdown-item  bg-dark text-white">Registered</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cotizaciones
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a href="/{{api}}/cotizacion/create/" class="dropdown-item bg-dark text-white">Register</a>
          <div class="dropdown-divider bg-dark"></div>
          <a href="/{{api}}/cotizacion/" class="dropdown-item  bg-dark text-white">Registered</a>
          <div class="dropdown-divider bg-dark"></div>
          <a href="/{{api}}/cotizacion-client/list/" class="dropdown-item  bg-dark text-white">Cliente - Cotizacion Registered</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cloth
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a href="/{{api}}/cloth/create/" class="dropdown-item bg-dark text-white">Register</a>
          <!-- <div class="dropdown-divider bg-dark"></div> -->
          <!-- <a href="/confma/cotizacion/" class="dropdown-item  bg-dark text-white">Registered</a>
          <div class="dropdown-divider bg-dark"></div>
          <a href="/confma/cotizacion-user/list/" class="dropdown-item  bg-dark text-white">Cliente - Cotizacion Registered</a> -->
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Alquiler
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a href="/{{api}}/alquiler/create/" class="dropdown-item bg-dark text-white">Register</a>
          <div class="dropdown-divider bg-dark"></div>
          <a href="/{{api}}/alquiler/details/all" class="dropdown-item  bg-dark text-white">Details All</a>
          <!-- <div class="dropdown-divider bg-dark"></div>
          <a href="/confma/cotizacion-user/list/" class="dropdown-item  bg-dark text-white">Cliente - Cotizacion Registered</a> -->
        </div>
      </li>
  
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >

      </li> -->
    </ul>
    {% if user.is_authenticated %}
       <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Icon
          </button>
          <div class="dropdown-menu dropdown-menu-right bg-dark">
            <p class="dropdown-item bg-primary" type="button">Hi {{user.username}}!</p>
            <button class="dropdown-item bg-secondary" type="button">Another action</button>
            <a href="{% url 'logout'%}" class="dropdown-item bg-warning">Logout</a>
          </div>
      </div>
    {% endif %}
    
  </div>
</nav>

{% endwith %}