{% extends 'layouts/base.html' %}
{% block title%} Home Confma App -  COTIZACION CREATE {% endblock %}
{% block principal_options%}{% endblock%}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-6">
			<div class="form-group mt-3">
				<div class="card border-primary mb-3" >
				  <div class="card-header">Form</div>
					    <form method="POST">
				            {% csrf_token %}
				            {{ form.as_p}}
							<input type="submit" value="Enviar" class="btn btn-primary btn-block" id="client"  name ="client">
				        </form>
				  </div>
			</div>		
		</div>
	</div>
</div>
{% endblock%}