{% extends 'layouts/base.html' %}

{% block title%}
    Cotizacion Create
{% endblock %}

{% block principal_options%}
{% endblock%}

{% block content %}

<div class="container">

	<div class="row">
		<div class="col-6">
			<div class="form-group mt-3">
				<div class="card border-primary mb-3" >
				  <div class="card-header">Form</div>
					    <form method="POST">
				            {% csrf_token %}
				            {{ form.as_p}}
							<!-- <input type="text" name="user_id" id="" class="form-control" value={{user.id}} readonly> -->
							<div class="row">
								<div class="col-6">
									<input type="submit" value="Client" class="btn btn-primary btn-block"
									id="client"  name ="client" >
								</div>
								<div class="col-6">
									<input type="submit" value="Cloth" class="btn btn-success btn-block" id="cloth"  name ="cloth" >
								</div>
							</div>
				        </form>
				  </div>
			</div>		
		</div>
	</div>
	
</div>

{% endblock%}