{% extends 'layouts/base.html' %} 

{% block title%} Home Confma App {% endblock%} 

{% block name%}
    <h2 class="text-center mt-2 mb-4"> <i class="material-icons">account_circle</i> Cotizacion Restoration</h2>
{% endblock %}
{% block principal_options%}
{% endblock%}

{% block content %}    

<div class="row">       
    {% for c in coti%}
        {% if c.state == 0%}
            <div class="col-sm-3">
                <div class="card text-white bg-dark border-info mt-2 mb-2" style="width: 28rem;">
                  <div class="card-body">
                    <h5 class="card-title">Cotizacion <span class="badge badge-primary badge-pill float-right"># {{forloop.counter}}</span> 
                    </h5>
                    <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <div class="row"> 
                            <div class="col-sm-6">
                                <li class="list-group-item bg-dark">Valor de la Tela : {{c.value_cloth}}</li>
                                <li class="list-group-item bg-dark">Valor del Trabajo : {{c.value_work}}</li>
                                <li class="list-group-item bg-dark">Valor de los Hilos : {{c.value_threads}}</li>
                                <li class="list-group-item bg-dark">Valor de los Botones : {{c.value_buttons}}</li>
                            </div>
                            <div class="col-sm-6">
                                <li class="list-group-item bg-dark">Valor de los Cuellos : {{c.value_necks}}</li>
                                <li class="list-group-item bg-dark">Valor de los Bordados : {{c.value_embroidery}}</li>
                                <li class="list-group-item bg-dark">Valor del Estampado : {{c.value_prints}}</li>
                                <li class="list-group-item bg-dark">Tipo de Moda : {{c.fashion}}</li>
                            </div>
                        </div>

                    </ul>         
                    </p>
                    <div class="container">    
                        <form action="/confma/cotizacion/restored/{{c.id}}/" method = "POST">
                            {% csrf_token %}
                            <input type="submit"  value = "Restore" class="btn btn-primary btn-block">
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        {%endif%}
    {% empty %}
    
        <p> NO HAY COTIZACIONES REGISTRADAS </p>

    {%endfor%}
</div>
{% endblock %}
