{% extends 'layouts/base_loggin.html' %}
{% block title%} User Details {% endblock %}

{% block content %}
    <div class="row">       
    {% for instance in clients %}
        
            <div class="col-sm-12 col-md-4 col-lg-3 m-2">
                <div class="card text-white bg-dark border-info mt-2 mb-2" style="width: 18rem;">
                  <div class="card-body">
                    
                    <h5 class="card-title">Clientes <span class="badge badge-primary badge-pill float-right"># 
                    {{forloop.counter}}</span> 
                    </h5>

                    <div class="col mt-2 mb-2">
                                <a href="{{instance.id}}/update/" class="btn btn-info badge badge-info badge-pill">Update</a> 
                                <a href="{{instance.id}}/delete/" class="btn btn-warning badge badge-warning badge-pill">Delete</a>   
                            </div>
                    <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <div class="row"> 
                                <div class="col">
                                    <li class="list-group-item bg-dark">Nombre : {{instance.name}}</li>
                                    <li class="list-group-item bg-dark">Apellido : {{instance.lastname}}</li>
                                    <li class="list-group-item bg-dark">Direccion : {{instance.address}}</li>
                                    <li class="list-group-item bg-dark">Telefono : {{instance.phone}}</li>
                                    <li class="list-group-item bg-dark">Celular : {{instance.cellphone}}</li>
                                </div>
                            </div>
                        </ul>         
                    </p>
                  </div>
                </div>
            </div>
        
    {% empty %}
        <p> NO HAY USUARIOS REGISTRADOS </p>
    {%endfor%}
    </div>
{% endblock %}