{% extends 'layouts/base_loggin.html' %}
{% block title%} User Search {% endblock %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-sm-12 col-md-10 col-lg-6 m-2">
        <div class="card text-white bg-dark border-info mt-2 mb-2">
            <div class="card-header">
                <p class="card-title text-center h1">Buscar Cliente </p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <form action="{% url 'client_search' %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <select  name="client_id" class="form-control" required>
                                    <option value="" selected> Elegir Cliente : </option>
                                    {% for c in all_client %}
                                            <option value="{{c.id}}" id="{{c.id}}" >
                                                {{c.name}} - {{c.address}} - {{c.phone}} - {{c.cellphone}}
                                            </option>
                                    {% endfor %}
                                </select>
                        </div>
                        <input type="submit" value="Buscar" class="btn btn-primary btn-block mt-2">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
    {% if count_coti_cli > 0 and count_alquiler > 0%}
        <p class="text-center display-4">{{client}}</p>
        <div class="card-deck ml-3 mr-3">
            {% for coti_cli in cotizacion_client%}
              <div class="card bg-dark text-white">
                <div class="card-body bg-warning">  
                    <div class="container">
                        <li class="list-group-item bg-dark text-center">Prenda Cotizada : {{coti_cli.cotizacion.cloth}}</li>
                        <div class="row mt-2">
                            <div class="col">
                                <li class="list-group-item bg-dark">Valor de la Tela : $ {{coti_cli.cotizacion.value_cloth}}</li>
                                <li class="list-group-item bg-dark">Valor del Trabajo : $ {{coti_cli.cotizacion.value_work}}</li>
                                <li class="list-group-item bg-dark">Valor de los Hilos : $ {{coti_cli.cotizacion.value_threads}}</li>
                                <li class="list-group-item bg-dark">Valor de los Botones : ${{coti_cli.cotizacion.value_buttons}}</li>
                            </div>
                            <div class="col">
                                <li class="list-group-item bg-dark">Valor de los Cuellos : $ {{coti_cli.cotizacion.value_necks}}</li>
                                <li class="list-group-item bg-dark">Valor de los Bordados ${{coti_cli.cotizacion.value_embroidery}}</li>
                                <li class="list-group-item bg-dark">Valor del Estampado : $ {{coti_cli.cotizacion.value_prints}}</li>
                                <li class="list-group-item bg-dark">Total : $ {{coti_cli.total}}</li>  
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            {%endfor%}
        </div>
        <div class="card-deck m-3">
            {% for alq_cli in alquiler_cliente %}
                <div class="card bg-dark text-white">
                    <div class="row no-gutters">
                        <div class="col-md-4 bg-secondary">
                            <img src="....." alt="img de prenda">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="container">
                                    <h5 class="card-title text-center h5"> Alquiler : {{alq_cli.date_now}} - {{alq_cli.date_return}} -  Valor : ${{alq_cli.price}}</h5>
                                    <h5 class="card-title text-center h5"> Prenda : {{alq_cli.cloth}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>            
    {%endif%}
{% endblock %}