{% extends 'layouts/base_loggin.html' %}

{% block title%} Home Confma App {% endblock%} 

{% block name%}
   
{% endblock %}


{% block content %}

	<div class="container mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="card p-3">
                <div class="card-body">
                    <p class="card-title">
                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-sm-12 col-md-8 col-lg-9 my-2">
                                     <h2 class="text-center mt-2 mb-4"> <i class="material-icons"> update </i> Actualizar Cliente <span class="badge badge-primary badge-pill">#{{client.id}}</span>  </h2>
                                </div>
                            </div>
                        </div>
                </div>
                <form method="POST" autocomplete="off">

                    {% csrf_token %}
                    <div class="form-group">
                        <label for=""> Nombre :</label>
                        <input type="text" name="{{form.name.html_name}}" class="form-control bg-dark text-white" placeholder="Ingrese su Nombre o Nombres" value="{{form.name.value}}">
                    </div>

                    <div class="form-group">
                        <label for=""> Apellido :</label>
                        <input type="text" name="{{form.lastname.html_name}}" class="form-control bg-dark text-white" placeholder = "Ingrese su Apellido o Apellidos" value="{{form.lastname.value}}">
                    </div>

                    <div class="form-group">
                        <label for=""> Direccion :</label>
                        <input type="text" name="{{form.address.html_name}}" class="form-control bg-dark text-white" placeholder="Ingrese su Direccion" value="{{form.address.value}}">
                    </div>

                    <div class="form-group">
                        <label for=""> Telefono :</label>
                        <input type="text" name="{{form.phone.html_name}}" class="form-control bg-dark text-white" placeholder="Ingrese su Telefono" value="{{form.phone.value}}">
                    </div>

                    <div class="form-group">
                        <label for=""> Celular :</label>
                        <input type="text" name="{{form.cellphone.html_name}}" class="form-control bg-dark text-white" placeholder = "Ingrese su telefono celular" value="{{form.cellphone.value}}">
                    </div>
                    <input type="submit" value="Actualizar Cliente" class="btn btn-warning container my-1">
                </form>
            </div>
        </div>
        {% if form.errors %}
            <div class="col">
                <div class="row">
                        <div class="col-sm col-md col-lg">
                             {% for key,value in form.errors.items %}
                                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                                    <strong>{{ key|escape }} : {{ value|escape }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        {% endif %}         
    </div>
</div>

{% endblock %}
