{% extends 'layouts/base_loggin.html' %}
{% block title%} Relacionar Cotizacion con Cliente {% endblock%}
{% block principal_options%}{% endblock%}

{% block name%}
<h2 class="text-center mt-2 mb-4"><i class="material-icons">account_circle</i> Cliente - Cotizacion</h2>
{% endblock %}


{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="card text-white">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6 col-sm-6 p-2 d-flex align-items-center justify-content-center bg-dark">
                    <img src="{{cotizacion.cloth.image.url}}" class="card-img" alt="moda_de_referencia">
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6 bg-dark">
                    <div class="card-body">
                        <p class="card-text">Prenda : {{cotizacion.cloth}}</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <ul class="list-group">
                                    <li class="list-group-item bg-dark ">Valor de la Tela : $
                                        {{cotizacion.value_cloth}}
                                    </li>
                                    <li class="list-group-item bg-dark ">Valor del Trabajo : $
                                        {{cotizacion.value_work}}
                                    </li>
                                    <li class="list-group-item bg-dark ">Valor de los Hilos : $
                                        {{cotizacion.value_threads}}
                                    </li>
                                    <li class="list-group-item bg-dark ">Valor de los Botones : $
                                        {{cotizacion.value_buttons}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <ul class="list-group">
                                    <li class="list-group-item bg-dark ">Valor de los Cuellos : $
                                        {{cotizacion.value_necks}}
                                    </li>
                                    <li class="list-group-item bg-dark ">Valor de los Bordados : $
                                        {{cotizacion.value_embroidery}}
                                    </li>
                                    <li class="list-group-item bg-dark ">Valor del Estampado : $
                                        {{cotizacion.value_prints}}
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <form action="{% url 'confma:create_client_cotizacion' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row m-2">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <!-- Cliente Select -->
                                    <label for="{{form.client.tag_label}}">Seleccione un Cliente : </label>
                                    {{form.client}}
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <!-- Total Cotizacion -->
                                    <div class="form-row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label for="">Total : </label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text bg-dark text-white">$</div>
                                                </div>
                                                <input type="number" name="{{form.total.html_name}}"
                                                       class="form-control bg-dark text-white" value="{{total}}"
                                                       required readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="number" name="{{form.cotizacion.html_name}}"
                                   class="form-control bg-dark text-white" placeholder="Total de la Cotizacion"
                                   value="{{cotizacion.id}}" required readonly hidden>
                            <input type="submit" value="Relacionar Cotizacion" class="btn btn-primary btn-block">
                        </form>
                        <p class="card-text"><small class="text-muted">Confecciones Maribel</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}