{% extends 'layouts/base_loggin.html' %}
{% block title%} Home Confma App {% endblock%} 
{% block principal_options%}{% endblock%}

{% block name%}
    <h2 class="text-center mt-2 mb-4"> <i class="material-icons">account_circle</i> Cliente - Cotizacion</h2>
{% endblock %}

{% block content %}
<div class="row">
	{%for cu in cotizacion_user%}
		{% if cu.state == 1 %}
			<div class="col-md-4 col-lg-4">
				<div class="card bg-dark text-white ml-2 mt-2 mb-2">
					<div class="card-header  text-center bg-info">CLIENTE</div>
					<div class="card-body">
						<ul class="list-group">
							{%for cli in client%}
								{% if cu.client_id == cli.id%}
									<li class="list-group-item bg-dark text-white text-center">
										Nombre : {{cli.name}} {{cli.lastname}} <br>
										Telefono : {{cli.phone}} <br>
										Celular : {{cli.cellphone}} <br>
										Direccion : {{cli.address}}
									</li>		
								{%endif%}
							{%endfor%}	
						</ul>
					</div>

					<div class="card-header text-center bg-info">COTIZACION</div>
					<div class="card-body">
						<ul class="list-group  ">
						{%for c in cotizacion%}
							<div class="row"> 
								{% if cu.cotizacion_id == c.id%}
									<div class="col-sm-6">
									    <li class="list-group-item bg-dark">Valor de la Tela : ${{c.value_cloth}}</li>
									    <li class="list-group-item bg-dark">Valor del Trabajo : ${{c.value_work}}</li>
									    <li class="list-group-item bg-dark">Valor de los Hilos : ${{c.value_threads}}</li>
									    <li class="list-group-item bg-dark">Valor de los Botones : ${{c.value_buttons}}</li>
									    <li class="list-group-item bg-dark">Talla de la Prenda : {{cl.size}}</li>
									</div>
									<div class="col-sm-6">
									    <li class="list-group-item bg-dark">Valor de los Cuellos : ${{c.value_necks}}</li>
									    <li class="list-group-item bg-dark">Valor de los Bordados : ${{c.value_embroidery}}</li>
									    <li class="list-group-item bg-dark">Valor del Estampado : ${{c.value_prints}}</li>
									    <li class="list-group-item bg-dark">Tipo de Moda : {{c.fashion}}</li>
									    <li class="list-group-item bg-dark">Color de la Prenda : {{cl.color}}</li>
									</div>
								{%endif%}
							</div>
						{%endfor%}
						</ul>
					</div>
				</div>
			</div>
		{%endif%}
	{%endfor%}
</div>
{%endblock%}