{% extends 'layouts/base_loggin.html' %}

{% block title%} Restaurar CC {% endblock%} 
{% block principal_options%}{% endblock%}

{% block name%}
    <h2 class="text-center mt-2 mb-4"> <i class="material-icons">account_circle</i> Restaurancion Cliente - Cotizacion</h2>
{% endblock %}

{% block content %}
	<div class="row" id="main">
		{%for cc in cotizacion_client%}
		
			<div class="col-md-4 col-lg-2">
				<div class="card bg-dark text-white ml-2 mt-2 mb-2">
					<div class="card-body">
								<p>Cliente : {{ cc.client.name }} {{cc.client.lastname}} </p>						
									<button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#userModalLong">
										Details Client
									</button>

									<div class="modal fade" id="userModalLong" tabindex="-1" role="dialog" aria-labelledby="userModalLongTitle" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content bg-dark">
										      <div class="modal-header">
										        <h5 class="modal-title" id="userModalLongTitle">{{u.name}} {{u.lastname}}</h5>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										          <span aria-hidden="true">&times;</span>
										        </button>
										      </div>
										      <div class="modal-body">
										      	<p>
			                                    	Direccion : {{cc.client.address}} <br>
			                                    	Telefono : {{cc.client.phone}} <br>
			                                    	Celular : {{cc.client.cellphone}} <br>
										      	</p>
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										      </div>
										    </div>
										  </div>
										</div>


									<p>Cotizacion de : {{cc.cotizacion.cloth}}</p>

										<button type="button" class="btn btn-success mb-4" data-toggle="modal" data-target="#cotizacionModalLong">
										  Details Cotizacion
										</button>

										<!-- Modal -->
										<div class="modal fade" id="cotizacionModalLong" tabindex="-1" role="dialog" aria-labelledby="cotizacionModalLong" aria-hidden="true">
										  <div class="modal-dialog" role="document">
										    <div class="modal-content bg-dark">
										      <div class="modal-header">
										        <h5 class="modal-title" id="cotizacionModalLongTitle"> INFOMACION DE LA COTIZACION </h5>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										          <span aria-hidden="true">&times;</span>
										        </button>
										      </div>
										      <div class="modal-body">
										      	<div class="row"> 
						                            <div class="col-sm-6">
						                                <li class="list-group-item bg-dark">Valor de la Tela : ${{cc.cotizacion.value_cloth}}</li>
						                                <li class="list-group-item bg-dark">Valor del Trabajo : ${{cc.cotizacion.value_work}}</li>
						                                <li class="list-group-item bg-dark">Valor de los Hilos : ${{cc.cotizacion.value_threads}}</li>
						                                <li class="list-group-item bg-dark">Valor de los Botones : ${{cc.cotizacion.value_buttons}}</li>
						                            </div>
						                            <div class="col-sm-6">
						                               <li class="list-group-item bg-dark">Valor de los Cuellos : ${{cc.cotizacion.value_necks}}</li>
						                               <li class="list-group-item bg-dark">Valor de los Bordados : ${{cc.cotizacion.value_embroidery}}</li>
						                               <li class="list-group-item bg-dark">Valor del Estampado : ${{cc.cotizacion.value_prints}}</li>
						                           </div>
						                       </div>
										     </div>
										     <div class="modal-footer">
										       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										     </div>
										   </div>
										 </div>
									</div>
							<form action="{% url 'cu_restore' %}" method="POST">
								{%csrf_token%}
								<input type="number" name="coti_user_id" value="{{cc.id}}"hidden>
								<input type="submit" value="Restore" class="btn btn-info btn-block">
							</form>
						</div>
					</div>
				</div>
			
		{%endfor%}
	</div>

	
	
{%endblock%}