{% extends 'layouts/base_loggin.html' %}

{% block title%} Restaurar Cotizacion Cliente {% endblock%}
{% block principal_options%}{% endblock%}

{% block name%}
<h2 class="text-center mt-2 mb-4"><i class="material-icons">account_circle</i> Restaurancion de Cliente con Cotizacion
</h2>
{% endblock %}

{% block content %}

<div class="row">
	{% for client_cotizacion in cotizacion_client %}
	<div class="col-lg-6 col-md-6 col-sm-12 m-3">
		<div class="card">
			<div class="row no-gutters">
				<div class="col-md-5 p-2 d-flex align-items-center justify-content-center">
					<img src="{{client_cotizacion.cotizacion.cloth.image.url}}" class="card-img"
						 alt="moda_de_referencia">
				</div>
				<div class="col-md-7">
					<div class="card-body">
						<h5 class="card-title text-center"><strong>Prenda :
							{{client_cotizacion.cotizacion.cloth}}</strong></h5>
						<h5 class="card-title text-center"><strong>Prenda : {{client_cotizacion.client}}</strong></h5>
						<p class="card-text">
						<ul class="list-group list-group-flush">
							<div class="row">
								<div class="col-sm-6">
									<li class="list-group-item ">Valor de la Tela :
										{{client_cotizacion.cotizacion.value_cloth}}
									</li>
									<li class="list-group-item ">Valor del Trabajo :
										{{client_cotizacion.cotizacion.value_work}}
									</li>
									<li class="list-group-item ">Valor de los Hilos :
										{{client_cotizacion.cotizacion.value_threads}}
									</li>
									<li class="list-group-item ">Valor de los Botones :
										{{client_cotizacion.cotizacion.value_buttons}}
									</li>
								</div>
								<div class="col-sm-6">
									<li class="list-group-item ">Valor de los Cuellos :
										{{client_cotizacion.cotizacion.value_necks}}
									</li>
									<li class="list-group-item ">Valor de los Bordados :
										{{client_cotizacion.cotizacion.value_embroidery}}
									</li>
									<li class="list-group-item ">Valor del Estampado :
										{{client_cotizacion.cotizacion.value_prints}}
									</li>
								</div>
							</div>
						</ul>
						</p>
						<form action="{% url 'confma:client_cotizacion_restored' %}" method="POST">
							{%csrf_token%}
							<input type="number" name="coti_user_id" value="{{cc.id}}" hidden>
							<input type="submit" value="Restore" class="btn btn-info btn-block">
						</form>
						<p class="card-text"><small class="text-muted">Confecciones Maribel</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{%endblock%}