{% extends 'layouts/base_loggin.html' %}
{% load staticfiles %}
{% block title%} Listado de Prendas {% endblock%}
{% block principal_options%}{% endblock%}

{% block name%}
<h2 class="text-center mt-2 mb-4">
    <i class="material-icons">loyalty</i> Prendas
</h2>
{% endblock %}

{% block content %}

<div class="row">
    {% for clo in object_list %}
    <div class="col-lg-4 col-md-6 col-sm-6  ">
        <div class="card m-3">
            <div class="row no-gutters">
                <div class="col-md-5 p-2 d-flex align-items-center justify-content-center">
                    <img src="{{clo.image.url}}" class="card-img" alt="moda_de_referencia">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Prenda : {{clo.name}}</strong></h5>
                        <p class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">Talla : {{clo.size}}</li>
                            <li class="list-group-item list-group-item-info">Color : {{clo.color}}</li>
                            <li class="list-group-item list-group-item-info">Tipo de Moda: {{clo.fashion}}</li>
                        </ul>
                        <form action="{% url 'confma:details_of_cloth' clo.id %}" method="GET">
                            <input type="submit" value="Buscar" class="btn btn-primary btn-block mt-2">
                        </form>
                        </p>
                        <p class="card-text"><small class="text-muted">Confecciones Maribel</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

{% endblock %}

