{% extends 'layouts/base_loggin.html' %}
{% block title%} Registar Prendas {% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="form-group mt-3">
            <div class="card bg-dark text-white mb-3 w-50 container p-3">
                <div class="card-header">
                    <p class="display-4">Registrar Prenda</p>
                </div>
                <form action="{% url 'confma:upload_photo_to_cloth' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for=""> Nombre de la Prenda :</label>
                        <input type="text" name="{{form.name.html_name}}" class="form-control bg-dark text-white"
                               placeholder="Ingrese un Nombre para identificar a la Prenda" required>
                    </div>
                    <div class="form-group">
                        <label for=""> Color de la Prenda :</label>
                        <input type="text" name="{{form.color.html_name}}" class="form-control bg-dark text-white"
                               placeholder="Ingrese el color del Prenda" required>
                    </div>
                    <div class="form-group">
                        <label for=""> Talla de la Prenda :</label>
                        {{ form.size }}
                    </div>

                    <div class="form-group">
                        <label for=""> Moda de la Prenda :</label>
                        {{ form.fashion }}
                    </div>

                    <div class="form-group">
                        <label for="">Foto de la Moda</label>
                        <input type="file" name="{{form.image.html_name}}"
                               class="form-control bg-dark text-white border-dark">
                        <!-- <input type="file"
                           id="avatar" name="avatar"
                           accept="image/png, image/jpeg"> -->
                    </div>

                    <input type="submit" value="Enviar" class="btn btn-primary btn-block mt-3" id="client"
                           name="submit_coti">
                </form>

                {% if form.errors %}
                <div class="row">
                    <div class="col-md-8">
                        {% for key,value in form.errors.items %}
                        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                            <strong>{{ key|escape }} : {{ value|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock%}